{% extends 'polls/base.html' %}
{% block content %}
    <main class="container mt-3 mb-3">

        <h5 class="text-success">VOTE!</h5>
        <h1><strong> Enquetes disponíveis </strong></h1>
        <p> Selecione uma das opções abaixo para começar a votar </p>
        {% if latest_question_list %}
            <div class="row">
                {% for question in latest_question_list %}
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h3>Enquete!</h3>
                                <p>{{ question.question_text }}</p>
                            </div>
                            <div class="card-footer">
                                <a href="{% url 'polls:detail' question.id %}" class="btn btn-success btn-block">Votar agora</a>
                            </div>
                        </div>                
                    </div>    
                {% endfor %}
            </div>

            {% else %}
                <p>No polls are available</p>
            {% endif %}
        </main>

{% endblock %}