{% extends "admin/base.html" %}  {% load static %} {% block branding %}
    <h1 id="site-name"><a href="{% url 'admin:index' %}">Santos Workers</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block extrastyle %}    
    <style>
        .userway { margin-bottom: 48px !important; right: 16px;}
    </style>
      <script type="text/javascript">
        var _userway_config = {
          account: 'QxicWCMsKX'
        };
    </script>
    <script type="text/javascript" src="https://cdn.userway.org/widget.js"></script>
{% endblock %} 

{% include "footer.html" %}