main { 
    margin-top: 100px;
    margin-bottom: 100px;
}

ul { 
    padding: 0px;
}
ul li { 
    list-style: none;
}

li a { 
    color: green;
    text-decoration: none;
}

.card {  
    border-radius: 20px;
}

.btn-muted { 
    background-color: teal;
}